.tree {
    position:absolute;
    left: 1px;
    top: 1px;
    min-height:20px;
    border:0; 
    padding:0;
    margin:0;
    background-color: rgba(0, 0, 0, 0);  
}
.tree li {
    list-style-type:none;
    margin-left:-0.5em;
    padding:0.5em 3px 0 0px;
    background-color: rgba(0, 0, 0, 0);
    position:relative;  
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {	
    cursor:pointer    
}

.tree li>ul {
		display:none;
}

.tree li span:hover{
    background:#FFEEF9;
    border:1px solid #94a0b4;
    color:#000
}

.button1{
	background-color:#D2EEFF
}

.button2{	
	background-color:#DDFEC8
}

.leaf{	
	background-color:#FBFDAC
}

p.normal {
	font-size: 90%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color:#333333;
}
p.title {
	font-size: 130%;
	 font-family: "LiSu";
  color:#5151FF;
}

.dp {
	color:#5151FF;
}

.myframe {
	border-radius: 25px;
	background-color: #FFFFFF;
	overflow: auto;
	line-height:1.8em;
	padding-left: 2%;
	padding-right: 2%;
}

